 <p> 
     <span class ='message_user'>{{message.author.name}} {{message.author.lastname}}@{{message.author.alias}} </span> 

  <span class='message_date'> [{{message.author.id}}] </span> 
  <span class='message_mensaje'> <i>{{message.text}}</i> </span> 
    </p>
 